<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>dbof.lol</title>
    </head>
    <body>
        {% block content %}
        There is no content here :(
        {% endblock %}
    </body>
</html>
