<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{site.charset}}">
        <title>dbof.lol</title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="{{site.url}}/assets/app.bundle.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include 'menu/main.twig' with {menu: menu['main-menu']} only %}

        {% block content %}
        There is no content here :(
        {% endblock %}
    </body>
</html>
