{% extends 'layout.twig' %}

{% block content %}
    <h1>{{tag.name}}</h1>
    {% for post in tag.get_posts %}
        <p><a href="{{post.link}}">{{post.title}}</a></p>
    {% endfor %}
{% endblock %}
